/* From Uiverse.io by SelfMadeSystem */ 
.clock-input {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  --a: #0004, #fff4;
  --b: var(--a), var(--a), var(--a);
  --c: var(--b), var(--b), var(--b);
  background: conic-gradient(
      from -2deg,
      #efefff88,
      #00000088,
      #efefff88,
      #00000088,
      #efefff88
    ),
    radial-gradient(var(--c), var(--c)),
    radial-gradient(circle at 12% 12%, #efefff, #9999a4);
  background-size: calc(100% + 8px) calc(100% + 8px);
  background-position: -4px -4px;
  border: 4px solid #0005;
  border-radius: 50%;
}

.clock-input input {
  display: none;
  pointer-events: none;
}

.dial {
  position: absolute;
  width: 26px;
  height: 4px;
  border-radius: 99px;
  background-color: #000b;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  transform-origin: 2px 50%;
  pointer-events: none;
  transition: 0.15s;
  animation: owo 0.15s;
}

@keyframes owo {
  0% {
    transform: rotate(-72deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.clock-input label {
  position: absolute;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

#v1:checked ~ #l2 {
  z-index: 2;
}
#v1:checked ~ .dial {
  transform: rotate(0deg);
}

#v2:checked ~ #l3 {
  z-index: 2;
}
#v2:checked ~ .dial {
  transform: rotate(72deg);
  animation: none;
}

#v3:checked ~ #l4 {
  z-index: 2;
}
#v3:checked ~ .dial {
  transform: rotate(144deg);
  animation: none;
}

#v4:checked ~ #l5 {
  z-index: 2;
}
#v4:checked ~ .dial {
  transform: rotate(216deg);
  animation: none;
}

#v5:checked ~ #l1 {
  z-index: 2;
}
#v5:checked ~ .dial {
  transform: rotate(288deg);
  animation: none;
}

.notch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 1px;
  background-color: #fffc;
  transform: translate(-50%) rotate(calc((var(--n) - 1) * 72deg))
    translateX(38px);
  counter-reset: section;
}

.notch::before {
  content: counter(section);
  position: absolute;
  counter-set: section var(--n);
  color: #fffc;
  transform: translate(12px, -50%) rotate(calc((var(--n) - 1) * -72deg));
  font-size: 12px;
}
/* Disabled slot label style hook */
.clock-input label.disabled {
  opacity: 0.35;
  pointer-events: none;
}
