/* From Uiverse.io by tiagoadag1203 */ 
.input {
  /* 让组件自行控制宽度，这里只负责视觉样式 */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #1a1a1a;
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  color: white;
}

.input:focus {
  /* 保留原始动效，用于直接使用 input3.html 时 */
  animation: rotateShadow 2s infinite linear;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
  }
  25% {
    box-shadow: -2px 2px 0px 0px #aa00ff, 2px -2px 0px 0px #3700ff;
  }
  50% {
    box-shadow: 2px 2px 0px 0px #aa00ff, -2px -2px 0px 0px #3700ff;
  }
  75% {
    box-shadow: 2px -2px 0px 0px #aa00ff, -2px 2px 0px 0px #3700ff;
  }
  100% {
    box-shadow: -2px -2px 0px 0px #aa00ff, 2px 2px 0px 0px #3700ff;
  }
}
