/* From Uiverse.io by HarryHeywood04 */
/* Renamed to avoid generic `.container` collisions */
.auth-bg {
  width: 100%;
  min-height: 100vh;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}
